TUCD/generalMethod_TypeModified.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  
    
    <xs:element name="methods">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="persona" />
                <xs:element ref="thinkAloudEv" />
                <xs:element ref="scenario" />
                <xs:element ref="sketch" />
                <xs:element ref="observation"/>
              <!--  <xs:element ref="interview"/>
                <xs:element ref="survey"/>
                <xs:element ref="storyboard"/>
                <xs:element ref="usabilityEv"/>
                <xs:element ref="accessibilityEv"/>-->
            </xs:sequence>
        </xs:complexType>
    </xs:element> 

    
    
    <!-- GENERAL METHOD TYPE -->
    
    <!-- Definition of complex elements -->
    
    <xs:group name="generalMethod_Type">
        <xs:sequence>
            <xs:element ref="creation_file"/>
            <xs:element ref="method"/> 
        </xs:sequence>
    </xs:group>
    
    <xs:element name="creation_file">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="creator_name"/>
                <xs:element ref="file_name"/>
                <xs:element ref="date_creation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="method">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="method_name" />
                <xs:element ref="method_phase" />
                <xs:element ref="tutorial" />
                <xs:element ref="dates_execution"/>
                <xs:element ref="others"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="tutorial">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="description"/>
                <xs:element ref="pros_cons"/>
                <xs:element ref="best_practices"/>
                <xs:element ref="example" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="dates_execution">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="start_date_execution"/>
                <xs:element ref="end_date_execution"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    
    <xs:element name="others">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="attachments" maxOccurs="unbounded"/>
                <xs:element ref="notes"/>
                <xs:element ref="links" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="method_phase">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="User Research"/>
                <xs:enumeration value="Prototyping"/>
                <xs:enumeration value="Evaluation"/>
                <xs:enumeration value="Implementation"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element> 
  


    <!-- Definition of simple elements -->
    
    <!-- Creation file -->
    <xs:element name="creator_name" type="xs:string"/>
    <xs:element name="file_name" type="xs:string"/>
    <xs:element name="date_creation" type="xs:dateTime"/>
    
    <!-- Method -->
    <xs:element name="method_name" type="xs:string"/>
    <xs:element name="performer" type="xs:string"/>
    <xs:element name="start_date_performed" type="xs:dateTime"/>
    <xs:element name="end_date_performed" type="xs:dateTime"/>

    
    <!-- Tutorial -->
    <xs:element name="description" type="xs:string" />
    <xs:element name="pros_cons" type="xs:string"/>
    <xs:element name="best_practices" type="xs:string"/>
    <xs:element name="example" type="xs:anyURI"/>
    
    <!-- Date execution -->
    <xs:element name="start_date_execution" type="xs:dateTime" />
    <xs:element name="end_date_execution" type="xs:dateTime"/>
    
    
    <!-- Others -->
    <xs:element name="attachments" type="xs:anyURI"/> 
    <xs:element name="notes" type="xs:string"/>
    <xs:element name="links" type="xs:anyURI"/>
    
    
    
    
    
    <!-- EVALUATION PHASE TYPE -->
    
    
    <!-- Definition of complex elements -->
    
    <xs:group name="evaluationPhase_Type">
        <xs:sequence>
            <xs:group ref="generalMethod_Type"/>
            <xs:element ref="evaluation_description"/>
            <xs:element ref="results"/> 
        </xs:sequence>
    </xs:group>
    
    <!-- Definition of complex elements -->
    
    <xs:element name="evaluation_description">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="users" maxOccurs="unbounded"/>
                <xs:element ref="goal" maxOccurs="unbounded"/>
                <xs:element ref="condition" maxOccurs="unbounded"/>
                <xs:element ref="user_task" maxOccurs="unbounded"/>
                <xs:element ref="prototype" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="users">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="users_evaluation_number"/>
                <xs:element ref="users_evaluation_group"/>               
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="condition">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="where"/>
                <xs:element ref="how"/>
                <xs:element ref="material"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="prototype">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="prototype_name"/>
                <xs:element ref="attachments"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="results">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="findings"/>
                <xs:element ref="attachments"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <!-- Definition of simple elements -->
    
    <!-- Users -->
    <xs:element name="users_evaluation_number" type="xs:positiveInteger" />
    <xs:element name="users_evaluation_group" type="xs:string" />
    
    <!-- Goal -->
    <xs:element name="goal" type="xs:string" />
    
    <!-- Condition -->
    
    <xs:element name="where" type="xs:string"/>
    <xs:element name="how" type="xs:string"/>
    <xs:element name="material" type="xs:string"/>
    
    <!-- User task -->
    <xs:element name="user_task" type="xs:string"/>
    
    <!-- Prototype -->
    <xs:element name="prototype_name" type="xs:string"/>
    
    <!-- Results -->
    <xs:element name="findings" type="xs:string"/> 
    
    
    
    
    
    
    
    
    
    <!-- METHODS -->
    
        <!--Persona-->
    
    
           <xs:element name="persona" type="personaType"/>
           
           
           
           <!-- Definition of complex elements -->
           
           <xs:complexType name="personaType">
               <xs:sequence>
                   <xs:group ref="generalMethod_Type"/>
                   <xs:element ref="general_info"/>
                   <xs:element ref="biography"/>
                   <xs:element ref="health"/>
                   <xs:element ref="technology"/>
               </xs:sequence>
           </xs:complexType>
           
           <xs:element name="general_info">
               <xs:complexType>
                   <xs:sequence>
                       <xs:element ref="user_group"/>
                       <xs:element ref="fictional_name"/>
                       <xs:element ref="age"/>
                       <xs:element ref="photo"/>
                   </xs:sequence>
               </xs:complexType>
           </xs:element>
           
           <xs:element name="biography">
               <xs:complexType>
                   <xs:sequence>
                       <xs:element ref="marital_status"/>
                       <xs:element ref="family_status"/>
                       <xs:element ref="education"/>
                       <xs:element ref="personality"/>
                       <xs:element ref="goals_tasks"/>
                   </xs:sequence>
               </xs:complexType>
           </xs:element>
           
           <!-- Definition of simple elements -->
           
           
           <!-- general_info -->
           <xs:element name="user_group" type="xs:string"/>
           <xs:element name="fictional_name" type="xs:string"/>
           <xs:element name="age" type="xs:nonNegativeInteger"/>
           <xs:element name="photo" type="xs:anyURI"/> 
           
           <!-- biography -->
           <xs:element name="marital_status" type="xs:string"/>
           <xs:element name="family_status" type="xs:string"/>
           <xs:element name="education" type="xs:string"/>
           <xs:element name="personality" type="xs:string"/>
            <xs:element name="goals_tasks" type="xs:string"/>
           
           <!-- health -->
           <xs:element name="health" type="xs:string"/>
           
           <!-- technology -->
           <xs:element name="technology" type="xs:string"/>    
    
    
    
    
             
          <!-- Scenario -->
             
             <xs:element name="scenario" type="scenario_Type"/>
             
             
             <!-- Definition of complex elements -->
             
            <xs:complexType name="scenario_Type">
                 <xs:sequence>
                     <xs:group ref="generalMethod_Type"/>
                     <xs:element ref="scenario_description"/>
                 </xs:sequence>
             </xs:complexType>
    
            <!-- Definition of simple elements -->
    
            <xs:element name="scenario_description" type="xs:string"/>
    
    
    
    
    
          <!-- Sketch -->
             
             <xs:element name="sketch" type="sketch_Type"/>
             
             
             <!-- Definition of complex elements -->
             
            <xs:complexType name="sketch_Type">
                 <xs:sequence>
                     <xs:group ref="generalMethod_Type"/>
                     
                 </xs:sequence>
             </xs:complexType>          
             
    
    
    
    
    
    
         <!-- Think-aloud evaluation -->
    
             <xs:element name="thinkAloudEv" type="thinkAloudEv_Type"/>
             
            
             <!-- Definition of complex elements -->
             
             <xs:complexType name="thinkAloudEv_Type">
                 <xs:sequence>
                     <xs:group ref="evaluationPhase_Type"/>
                     
                 </xs:sequence>
             </xs:complexType>
    
    
    
    
    
            <!-- Observation -->
            
            <xs:element name="observation" type="observation_Type"/>
            
            
            <!-- Definition of complex elements -->
            
            <xs:complexType name="observation_Type">
                <xs:sequence>
                    <xs:group ref="generalMethod_Type"/>
                    <xs:element ref="findings"/>
                    <xs:element ref="condition"></xs:element>
                    
                </xs:sequence>
            </xs:complexType>
    
    
    <!--recorded by
    camera
    audio
    notes-->
    
    
    
    
   
           
    
 
    
</xs:schema>

